body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
a {
    text-decoration: none;
}
ul,
ol {
    list-style-type: none;
}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo-studio {
    color: #2e2f42;
}
.header-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus {
color: #404bbf;
}
.header-address {
    font-style: normal;
}
.address-link {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}
.title {
    background-color: #2e2f42;
}
.title-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.title-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
}
.title-btn:hover,
.title-btn:focus {
    background-color:#404bbf;
}
.feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.feature-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}
.contacts {
    background-color: #F4F4FD;
}
.contacts-title-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}
.contacts-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.contacts-text {
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: center;
}
.contacts-list-ithem {
    background-color: #fff;
}
.portfolio-title-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}
.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}
.footer {
    background-color: #2e2f42;
}
.footer-logo-studio {
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.footer-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}